@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.material-symbols-outlined {
  vertical-align: middle;
}

@layer base {
  body {
    @apply bg-background-light text-text-main font-body antialiased;
  }
}
